<article class="article-listing">
  <a class="article-listing-thumbnail" style="background-image: url(<%= image_source(article.data.cover) %>)" href="<%= article.url %>"></a>
  <div class="article-listing-content">
    <h2 class="article-listing-content-title"><a href="<%= article.url %>"><%= article.title %></a></h2>
    <div class="article-listing-meta">
      <span class="article-listing-meta-date"><%= published_or_updated_last(article) %></span>
      <span  class="article-listing-meta-date">•</span>
      <span class="article-listing-meta-time-to-read has-text-grey">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
         <%= time_to_read(article) %>
       </span>
    </div>

    <p class="article-listing-summary">
      <%= resource_summary(article) %> 
    </p>
      
    <%= partial "partials/articles/article_classification", :locals => { :article => article } %>
  </div> 
</article>